<div class="chat_main_header">
  <div class="chat_main_header_left">
    <div class="chat_main_header_roomname">
      <%= @room.name %>
    </div>
  </div>
  <div class="chat_main_header_right">
    <div class="chat_main_header_destroy">
      <a href="#">チャットルームを終了する</a>
    </div>
  </div>
</div>

<div class="chat_main_main">
  <%= render partial: 'message', collection: @messages %>
</div>
  
  <%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
    <div class="chat_main_footer">
    <div class="chat_main_form">
      <%= f.text_field :content, class: 'chat_main_form_message', placeholder: 'type a message' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    
    <%= f.submit 'send', class: 'chat_main_form_btn' %>
    </div>
    <% end %>